# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
_ReSharper.QualityBot
QualityBot.Service.Web

# mstest test results
TestResults

*.gitignore
assembla.pub

#ignore everything within /packages/
/packages/*

#include everything within /packages/Mapper
!/packages/Mapper/
!/packages/Mapper/*
!/packages/Mapper/**/*
!/packages/DiffMatchPatch/
!/packages/DiffMatchPatch/*
!/packages/DiffMatchPatch/**/*


