bin/
obj/
_ReSharper.QualityBot
QualityBot.Service.Web
TestResults
*.gitignore
*.tss
*.suo
assembla.pub

/packages/*
!/packages/Mapper/
!/packages/Mapper/*
!/packages/Mapper/**/*
!/packages/DiffMatchPatch/
!/packages/DiffMatchPatch/*
!/packages/DiffMatchPatch/**/*
