<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="debugOutputDirectory" value="C:\OutputDir"/>
    <add key="debugToOutputDirectory" value="true"/>
    <add key="framework" value="WebDriverRemote"/>
    <add key="seleniumGrid2Hub" value="http://accslvwtetsgh01:4444/wd/hub"/>
	  <add key="mongoHost" value="AEVANS02"/>
	  <add key="mongoDbName" value="qualitybot"/>
	  <add key="mediaServiceEnvironment" value="mfcreativedev"/>
	  <add key="mediaServiceBackendEnvironment" value="mfsbedev"/>
	  <add key="applicationGuid" value="a8b0332b-a3a3-4415-8e46-06766faae12d"/>
  </appSettings>
</configuration>