<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="framework" value="WebDriverRemote"/>
    <add key="seleniumGrid2Hub" value="http://accslvwtetsgh01:4444/wd/hub"/>
	  <add key="mongoHost" value="AEVANS02"/>
	  <add key="mongoDbName" value="qualitybot"/>
	  <add key="mediaServiceEnvironment" value="mfcreativedev"/>
	  <add key="mediaServiceBackendEnvironment" value="mfsbedev"/>
	  <add key="applicationGuid" value="a8b0332b-a3a3-4415-8e46-06766faae12d"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMediaStore" messageEncoding="Mtom" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://media.mfsbedev.com/MediaStore.v1.http"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMediaStore"
        contract="MediaService.IMediaStore" name="BasicHttpBinding_IMediaStore" behaviorConfiguration="debug" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>