<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMediaStore" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://media.mfsbedev.com/MediaStore.v1.http"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMediaStore"
                contract="MediaService.IMediaStore" name="BasicHttpBinding_IMediaStore" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
